<div class="login_wrap">
    <form action="" method="post" @submit="dataProcessor.loginChk">
        <div class="login">
            <h2 class="logo"><img src="./public/img/logo.png" alt="logo"></h2>
            <!--<p><label><input class="input" type="text" name="id" id="login_id" size="80" placeholder="ID" value="747330615420035" required autofocus></label></p>-->
            <p><label><input class="input" type="text" name="id" id="login_id" size="80" placeholder="ID" required autofocus></label></p>
            <p><label><input class="input" type="password" name="pwd" id="login_pw" size="80" placeholder="PASSWORD" required></label></p>
            <p><input type="image" src="./public/img/btn_login.png" alt="login"></p>
            <div class="btm_line"><span>OR</span></div>
            <p class="login-btm">
                <input type="image" src="./public/img/btn_facebook.png" alt="facebook">
                <input type="image" src="./public/img/btn_google.png" alt="google">
            </p>
        </div>
    </form>
</div>