<header class="header">
    <div class="top">
        <h3 class="logo"><a href="#"><img src="./public/img/logo2.png" alt="AirTumbler"> <span>Monitoring board</span></a></h3>
        <ul class="util">
            <li class="user">{{ bus.member.USR_NM }}</li>
            <li class="logout" @click="logout"><a href="#">Logout</a></li>
            <!-- <li class="push"><a href="#">12</a></li> -->
        </ul>
    </div>
    <nav class="gnb">
        <ul>
            <li class="active target-home" data-target=".home"><a href="#" @click="bus.isHome = true"><img src="./public/img/icon-home.png" alt="home"></a></li>
            <li class="target-content-01" data-target=".content-01"><a href="#" @click="bus.isHome = false; initMap();"><img src="./public/img/icon-graph.png" alt="graph"></a></li>
            <li class="target-content-04" data-target=".content-04"><a href="#" @click="bus.isHome = false; initMap();"><img src="./public/img/icon-location.png" alt="location"></a></li>
            <li class="target-content-05" data-target=".content-05"><a href="#" @click="bus.isHome = false; initMap();"><img src="./public/img/icon-sun.png" alt="sun"></a></li>
        </ul>
    </nav>
</header>